* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(90deg, #1a1a1a -20%, #6a0d45 50%, #1a1a1a 120%);
  margin-inline: 2rem;
}

:root {
  --main-color: #6a0d45;

  font-family: "SN Pro", sans-serif;
  --ul-f: 700 1rem/100% "SN Pro", sans-serif;

  --home-f: 400 2rem/100% "SN Pro", sans-serif;
  --home-fcell: 200 1.5rem/100% "SN Pro", sans-serif;

  --jobs: bolder 1.2rem/110% "SN Pro", sans-serif;
  --jobsA: bolder 1.2rem/100% "SN Pro", sans-serif;

  --cards: bold 1.2rem/100% "SN Pro", sans-serif;
  --cardsH2: bolder 2.2rem/110% "SN Pro", sans-serif;
  
  --About-h2: bolder 2rem "SN Pro", sans-serif;
  --About-p: normal 1.5rem "SN Pro", sans-serif;

  --h3: bolder 1.5rem "SN Pro", sans-serif;
  --link: bold 1.2rem "SN Pro", sans-serif;
  --span: bold 1.2rem "SN Pro", sans-serif;
  --p: normal 1rem "SN Pro", sans-serif;
}
