#Home{
    display: flex;
    background-image: url(../Assets/SVG/Background.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;

}

#Pc{
    width: 50%;
    margin: 2rem 3rem;
}

#Cell{
        display: none;
    }

#add{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    transform: translateX(-60px);
}

#Home h2{
    font: var(--home-f);
    color: white;
    width: 60%;
    padding: 1rem 3rem;

}

span{
    font-weight: 700;
}

#Home button{
    font: var(--home-f);
    font-weight: 400;
    font-size: 1.5rem;
    width: 35%;
    padding: 10px 20px;
    margin-left: 3rem;
    background-color: white;
    border: none;
    border-radius: 50px;
    color: var(--main-color);
}

#Home button:hover{
    transition: all 0.3s;    
    font-weight: 700;
    background-color: rgb(70, 4, 70);
    width: 36%;
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    transform: translate(-4px, -6px);
}

@media (max-width: 768px) {
    
    #Home{
        background-size: contain;
        background-position: center;
        background-repeat: repeat-y;
    }

    #Pc{
        display: none;
    }
    #Cell{
        display: block;
    }
    #add{
        display: none;
    }
    
    #Home img{
        width: 80vw;
        margin: 2rem auto;
    }

    #Home h2{
        width: 75vw;
        margin-inline: auto;
        font: var(--home-fcell);
        padding: 0;
        text-align: center;
    }

    #Home button{
        width: 75vw;
        margin: 1rem auto;
    }

}